<%- include("./partials/header") %>
    <br><br>
    <div id="login-container">
        <img id="login-logo" height="150" src="/stylesheets/logo.png" alt="">
        <h3>Account Login</h3>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="/organisation/centauth/login" method="post">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="email-label">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
                            </div>
                            <input type="username" name="username" class="form-control" placeholder="Username" aria-label="Email" aria-describedby="email-label">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="password-label">
                  <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-label">
                        </div>


                        <div class="text-center">
                            <button type="submit" class="btn btn-customized">Login Account</button>
                        </div>

                    </form>
                    <%- include("./partials/footer") %>