<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
  <title>Blockchain</title>
</head>

<body class="doctor">

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#" style="color:white;">eAarogya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <br />
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search Patients By Id">
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button class="btn btn-lg btn-success" type="submit">Search</button>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  </div><br><br>






  <div class="container tabcontainer">
    <div class="row">
      <div class="col-xs-12 ">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
            <a class="nav-item nav-link" id="nav-addreport-tab" data-toggle="tab" href="#nav-addreport" role="tab" aria-controls="nav-addreport" aria-selected="true">Add Report</a>
            <a class="nav-item nav-link active" id="nav-addprescription-tab" data-toggle="tab" href="#nav-addprescription" role="tab" aria-controls="nav-addprescription" aria-selected="false">Add Prescription</a>
            <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false">Report</a>
            <a class="nav-item nav-link" id="nav-prescription-tab" data-toggle="tab" href="#nav-prescription" role="tab" aria-controls="nav-prescription" aria-selected="false">Prescription</a>
            <a class="nav-item nav-link" id="nav-reporth-tab" data-toggle="tab" href="#nav-reporth" role="tab" aria-controls="nav-reporth" aria-selected="false">Report History</a>
            <a class="nav-item nav-link" id="nav-prescriptionh-tab" data-toggle="tab" href="#nav-prescriptionh" role="tab" aria-controls="nav-prescriptionh" aria-selected="false">Prescription History</a>

          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">


          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            oo
          </div>




          <div class="tab-pane fade show active" id="nav-addreport" role="tabpanel" aria-labelledby="nav-addreport-tab">
            <div class="dfcontainer">
              <div class="main">
                <div class="main-center">
                  <form class="" method="post" action="#">


                    <div class="form-group">
                      <label for="name">Blood Group</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="blood-group" id="blood-group" placeholder="Patient's Blood Group" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Blood Pressure</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="blood-pressure" id="blood-pressure" placeholder="Patient's Blood Pressure" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Height</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="height" id="height" placeholder="Patient's Height" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="name">Weight</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="weight" id="weight" placeholder="Patient's Weight" />
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="name">Allergies</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="allergies" id="allergies" placeholder="Patient's Allergies" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="name">Diagnoses</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="diagnoses" id="diagnoses" placeholder="Patient's Diagnoses " />
                      </div>
                    </div>










                    <button class="btn btn-info" type="submit">Submit</button>

                  </form>
                </div>
                <!--main-center"-->
              </div>
              <!--main-->
            </div>
            <!--container-->
          </div>






          <div class="tab-pane fade" id="nav-addprescription" role="tabpanel" aria-labelledby="nav-addprescription-tab">
            <div class="dpcontainer">
              <div class="row">
                <div class="col-sm-4 col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form accept-charset="UTF-8" action="" method="POST">
                        <textarea class="form-control counted" name="message" placeholder="Prescription Details" rows="5" style="margin-bottom:10px;"></textarea>

                        <button class="btn btn-info" type="submit">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">


            <div class="coabox">
              hi
            </div>









          </div>










          <div class="tab-pane fade" id="nav-prescription" role="tabpanel" aria-labelledby="nav-prescription-tab">
            <div class="dpcontainer">
              <div class="row">
                <div class="col-sm-4 col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <label for="name">Prescription Details</label>
                      <textarea class="form-control counted" name="message" rows="5" style="margin-bottom:10px;"></textarea>



                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>




          <div class="tab-pane fade" id="nav-prescriptionh" role="tabpanel" aria-labelledby="nav-prescriptionh-tab">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="sidebarservices">

                    <li>ADD PRESCRIPTION HISTORY HERE ON ITERATION</li>
                  </ul><br><br><br>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-reporth" role="tabpanel" aria-labelledby="nav-reporth-tab">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="sidebarservices">

                    <li>ADD Report HISTORY HERE ON ITERATION</li>
                  </ul><br><br><br>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>



  <!-- navbar ends -->






  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>