<%- include ('./partials/header') %>


    <!-- navbar ends -->

    <div class="intro">
        <h2>Secure. Fast. Electronic.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="portal">
        <!-- Trigger the modal with a button -->
        <a href="/user/login"><button type="button" class="btn btn-lg">User Portal</button></a>
        <a href="/professional"><button type="button" class="btn btn-lg">Professional Portal</button></a>
    </div>

    <%- include("./partials/footer") %>