<%- include ('./partials/header') %>


    <!-- navbar ends -->

    <div class="intro">
        <h2>Secure. Fast. Electronic.</h2>
        <p>Our aim is to use blockchain technology to leverage the creation of Electronic Health Records (EHR). The blockchain ensures security of your data, so this means your data in your hands. eAarogya provides the platform for professionals and patients
            to collaborate and share data in one centralised record. </p>
    </div>

    <div class="portal">
        <!-- Trigger the modal with a button -->
        <a href="/user/login"><button type="button" class="btn btn-lg">User Portal</button></a>
        <a href="/professional"><button type="button" class="btn btn-lg">Professional Portal</button></a>
    </div>

    <%- include("./partials/footer") %>