<h1>NEW RECORD</h1>
<form action="/newrecord" method="POST">
    <input type="text" name="recordID">
    <input type="text" name="name">
    <input type="text" name="dob">
    <input type="text" name="address">
    <button type="submit">SUBMIT</button>
</form>