<%- include ('./partials/header') %>

<body>
  <br><br>


  <div class="container tabcontainer">
    <div class="row">
      <div class="col-xs-12">
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-addreport" role="tabpanel" aria-labelledby="nav-addreport-tab">
            <div class="dfcontainer" id="test-table">
              <div class="main">
                <div class="main-center">
                  <br>
                  <h3 style="color:#0f4c75; text-align:center;">Test Report Details</h3>
                  <form class="clinician-form" method="post" action="/organisation/clinician/addreport">
                    <input type="text" class="hiddenInp" name="medicalID" value=<%=details.recordID%> <%=details.medicalID%>>

                    <div class="form-group">
                      <label for="name">Medical ID: </label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control form-input" name="medicalID" id="medicalID" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Blood Group</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control form-input" name="bloodGroup" id="blood-group" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Blood Pressure</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="bloodPressure" id="blood-pressure" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Haemoglobin</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="haemoglobin" id="haemoglobin" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="name">Sugar level</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="weight" id="weight" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="name">Links</label>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="links" id="links" />
                      </div>
                    </div>
                    <button class="btn submit-btn" type="button" name="button">Submit</button>
                    <br>
                  </form>
                </div>
                <!--main-center"-->
              </div>
              <!--main-->
            </div>
            <!--container-->
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>