<%-include("../../partials/header.ejs")%>

<body>
  <form action="/register-user/verify-otp" method="post">
    <label for="code">Enter the code</label>
    <input type="text" name="code">
    <button id="sendCode">Submit</button>
    <% if(error) { %>
    <%=error%>
    <%}%>
  </form>

</body>

<%- include("../../partials/footer.ejs") %>1