.navbar {
  background: linear-gradient(5deg, #3282b8, #bbe1fa);
}

.btn-cat {
  height: 200px;
  width: 200px;
  margin-left: 5%;
  margin-top: 100px;
  background: white;
  border-color: #bbe1fa;
  border-width: 2px;
}

.btn-cat:hover {
  box-shadow: 0px 0px 10px #888888;
}

.container-fluid {
  display: inline-flex;
}

.card {
  margin: 70px;
  height: 100%;
}

.fixed-bottom {
  height: 50px;
  background: linear-gradient(5deg, #3282b8, #bbe1fa);
}

.partition {
  width: 1px;
  background-color: grey;
  margin-top: 70px;
}