/* https://www.freepik.com/free-vector/abstract-blue-background_859016.html */
.navbar {
  background-color: #3282b8;
}

/* Footer */
.fixed-bottom {
  height: 50px;
  background-color: #3282b8;
  color: white;
}

/* Submit button common to all pages */
.submit-btn {
  background: #0f4c75;
  color: #fff;
}

/* ----------------------------------------------------------------------------------*/
/*  -------------------------------- User Portal  -----------------------------------*/
#userContainer {
  text-align: center;
  margin: 0px auto;
  margin-top: 50px;
  width: 40%;
  padding: 10px;
}

#user-masterCard {
  margin: 0px auto;
  margin-top: 40px;
  padding: 0px;
}

.btn {
  background-color: #0f4c75;
}

.small-card {
  border-radius: 5px;
}

.show {
  background-color: #bbe1fa;
}

.hiddenInp {
  visibility: hidden;
}

#doctorID {
  background: #fff;
  border: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1),
    -6px -6px 12px rgba(250, 250, 250, 1);
}

/*shramik's Area*/
.nav {
  background-color: white;
}

#nav-tab {}

/* --------------------------------------------------------------------------- */
/* ------------------------------- Central Authority ------------------------- */
.btn-cat {
  height: 200px;
  width: 200px;
  margin-left: 5%;
  margin-top: 100px;
  background: white;
  border-color: #bbe1fa;
  border-width: 2px;
}

.btn-cat:hover {
  box-shadow: 0px 0px 10px #888888;
}

.container-fluid {
  display: inline-flex;
}

.card {
  margin: 70px;
  height: 100%;
}

.fixed-bottom {
  height: 50px;
  background: none;
}

.partition {
  width: 1px;
  background-color: grey;
  margin-top: 70px;
}

.centAuth {
  background-image: url('bg1.jpg');
  background-size: cover;
  background-position: top;
}

#central-authority-form, #aadhaar-display {
  background: rgba(50, 130, 184, 0.15);
  color: black;
  border: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, .08),
    -4px -4px 12px rgba(255, 255, 255, 1);
}