<%- include ('../partials/header') %>

<body>
    <div class="container">

        <div class="prof-container">
            <a href="/organisation/testcenter/login"> <button style="margin-right: 100px;" type="button"
                    class="btn btn-prof"><img class="prof-icon" src="/stylesheets/Clinic.png" alt=""
                        height="60px"><br><%=__('testCenter')%></button></a>
            <a href="/organisation/clinician/login"> <button type="button" class="btn btn-prof"><img class="prof-icon"
                        src="/stylesheets/Radiology.png" alt="" height="60px"><br><%=__('clinician')%></button></a>
        </div>
    </div>

    <%- include("../partials/footer") %>