.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


/*...................................*DOCTOR PAGE................................................................. */

.doctor {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #bbe1fa;
    text-align: center;
}

nav>.nav.nav-tabs {
    border: none;
    color: #fff;
    background: black;
    border-radius: 0;
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #fff;
    background-color: #3282b8;
    border-radius: 0;
}

nav>div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #009edf;
}

.tab-content {
    line-height: 25px;
    border: 1px solid #3282b8;
    border-top: 5px solid #3282b8;
    border-bottom: 5px solid #3282b8;
    padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
    border: none;
    background: #009edf;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.tabcontainer {
    margin-left: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* TABLE */

.main {
    padding: 40px 0;
}

.main input,
.main input::-webkit-input-placeholder {
    font-size: 20px;
    ;
}

.main-center {
    padding: 10px 40px;
    background: #009edf;
    color: white;
    text-shadow: none;
}

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.dfcontainer {
    background-color: #009edf;
}

.dpcontainer {
    margin: 20px;
}


/* REPORT AND PRESCRIPTION BOX */

.coabox {
    background: #009edf;
    color: black;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    padding: 40px;
    margin: 30px;
}


/* REPORT AND PRESRIPTION HISTORY */

.sidebarservices li {
    width: 100%;
    height: auto;
    list-style: none;
    background-color: #009edf;
    margin: 5px auto;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 5px 5px;
    cursor: pointer;
    color: white;
}

.sidebarservices li a {
    text-decoration: none;
    color: white !important;
    font-family: Century Gothic, sans-serif;
}

.sidebarservices li:hover {
    background: #3282b8;
    color: white;
}

@media (max-width: 600px) {
    .sidebarservices li {
        width: 95%;
    }
}